APP_PORT=3000
FORWARD_APP_PORT=3000

BATCH_SIZE=200
BATCH_FLUSH_MS=500

DB_USERNAME=analytics
DB_PASSWORD=analytics
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=analytics
FORWARD_DB_PORT=5435

DATABASE_URL=postgres://analytics:analytics@postgres:5432/analytics?sslmode=disable

RABBITMQ_USER=analytics
RABBITMQ_PASS=analytics
RABBITMQ_URL=amqp://analytics:analytics@rabbitmq:5672/
